.content {
    height: 50%;
}
.content div {
    text-align: left;
    font-size: 1rem;
    padding-bottom: 5px;
}
.content div > h1, .content div > h3 {
    text-align: center;
}
.geschichte {
    height: 100%;
}
.geschichte div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}
.geschichte > div > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.geschichte > div > div > p {
    padding: 5px;
    border: 1px solid black;
    cursor: pointer;
    box-shadow: 2px 2px 2px #aaaaaa;
    margin-top: 20px;
}
.geschichte > div > div > p:hover {
    background-color: black;
    color: white;
}
.satellite {
    width: 50px;
    height: 50px;
    box-shadow: 2px 2px 2px #aaaaaa;
    border-radius: 30px;
    cursor: pointer;
}
.linie {
    width: 40px;
    transform: rotate(90deg);
    margin-top: 20px;
}
ul {
    list-style-type: square;
}
.content div > div {
    padding-left: 50px;
    padding-right: 50px;
    text-align: left;
}
.content div > div > div {
    text-align:center;
}
.zeitplan li {
    list-style-type: none;
    padding-bottom: 5px;
}
.details {
    position: absolute;
    max-width: 400px;
    bottom: 150px;
    background-color: white;
    border: 1px solid black;
    z-index: 50000;
}
 .details:after {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
    bottom: -20px;
    border: 10px solid transparent;
    border-right-color: black;
    transform: rotate(270deg);
  } 
.details li {
    font-size: 0.8rem;
}
.leftElement:after {
    left: 100px;
}
.rightElement:after {
    right: 100px;
}
.year {
    text-indent: 0px;
}
  
  
