@font-face {
  font-family: "CustomFont";
  src: url("../src/assets/webfontkit/modern_no.20-webfont.woff") format("woff");
}

html, body, #root, .app-wrapper {
  margin:0;
  height: 100%;
  font-family: 'CustomFont', Arial, sans-serif;
  font-size: 16px;
}
body {
  overflow-y: scroll;
}
.app-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
p {
  text-indent: 50px; 
 }
